.what-is-vercel-page {
    background-color: #39316b;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.what-is-vercel-page h1 {
    position: relative;
    z-index: 1;
    color: #ffffff;
    padding: 20px;
}

.main-grid-pag3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin: 0 auto;
}

.contenedor-grid-pag3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    gap: 56px;
    margin: 0 auto;
}

